body {
  margin: 0;
  overflow: hidden;
}

.page-container {
  background-image: url("assets/images/filmcomp-min.jpg");
  background-size: cover;
  font-family: "Oswald";
  width: 100vw;
  height: 100vh;
}

.landing-section {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: grayscale(85%) brightness(10%);
}

/* .logo-container {
  background: radial-gradient(black, rgba(255, 255, 255, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
} */
.logo {
  font-size: 95px;
  color: white;
  text-align: center;
}

.primary-button {
  font-size: 35px;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.primary-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.dashboard-section {
  display: none; /* Hide this initially, set to 'grid' when shown */
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(85%) brightness(20%);
  color: white;
}

.topbar-section {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-section {
  grid-column: 1;
  grid-column-end: 1;
  grid-row: 2; 
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid white;
}

.content-section {
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 35px;
}

/* .logo-container-topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
} */

.logo-topbar {
  font-size: 35px;
  margin-left: 50px;
  margin-right: 25px;
  cursor: pointer;
}

.search-content {
  display: none; 
}

/* .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-sidebar {
  margin-bottom: 25px;
  font-size: 24px;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
} */
/* 
.button-sidebar:hover {
  color: black;
  background-color: white;
} */

.fas {
  padding-right: 10px;
}

.search-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50px;
  background-color: white;
  color: black;
  padding: 5px 10px 5px 10px;
  border-radius: 10px; 
}

.search-box {
  background: transparent;
  border: none; 
}

.search-btn {
  border: none;
  font-family: "Oswald";
  color: white;
  font-size: 18px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.search-btn:hover {
  background-color: rgb(80, 80, 80);
}

.search-box:focus {
  outline: none;
}

.movie-image {
  margin-right: 25px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  height: 200px;
  padding-top: 15px;
}

.movie-image:hover, .actor-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.content-container {
  margin-bottom: 25px;
}

.content-container:not(1) {
  display: flex;
  flex-direction: row;
}

.movie-info, .actor-info {
  display: inline-block;
  width: auto;
  margin-right: 15px;
  height: 150px;
  font-size: 20px;
}

.item-wrapper {
  display: inline-block;
}

.movie-showcase-container {
  margin-top: 35px;
  display: none;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.movie-showcase-header {
  padding: 25px;
  font-size: 64px;
}

.movie-showcase-image {
  height: 600px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.75);
}

.movie-showcase-info-container {
  display: flex;
  flex-direction: column;
}

.movie-showcase-top {
  display: flex;
  flex-direction: row;
}

.movie-showcase-info {
  padding: 0 25px 25px 25px;
  width: 75%;
  font-size: 24px;
}

.arrow-back {
  display: none;
  font-size: 54px;
  margin-bottom: 10px;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.arrow-back:hover {
  color: rgba(255, 255, 255, 0.75);
}

.actor-image {
  margin-right: 10px;
  margin-left: 25px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  height: 150px;
  padding-top: 15px;
  
}

.movie-showcase-stars-container {
  flex-basis: 100%;
}

h1 {
  font-size: 45px;
}

h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes ani-zoom {
  0% {
    filter: grayscale(100%);
  }
  50% {
    filter: grayscale(70%);
  }
  100% {
    filter: grayscale(100%);
  }
}

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/Oswald-Regular.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
